# .gitignore для PHP проекту з Composer

# Ігнорувати .env файли, які містять конфіденційні дані
.env
.env.local
.env.*.local

.build/
vendor
composer.lock

# Ігнорувати файли кешу і тимчасові файли
/.phpunit.result.cache
/.idea
/.vscode
/.DS_Store

# Ігнорувати лог-файли
*.log

# Ігнорувати файли, створені при виконанні скомпільованих файлів або тестів
test/
tests/
coverage/

# Ігнорувати інші тимчасові файли
*.swp
*.swo

# Ігнорувати файли бази даних (якщо вони є)
*.sqlite
*.db